@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	@Html.Raw(ViewData["ContactData"])
</address>

<address>
    <strong>Support:</strong> <a href="mailto:@ViewData["SupportEmail"]">@ViewData["SupportEmail"]</a><br />
    <strong>Marketing:</strong> <a href="mailto:@ViewData["MarketingEmail"]">@ViewData["MarketingEmail"]</a>
</address>
